<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="relative overflow-x-auto">
    <div class="display-flex flex-row justify-center w-full">
        <button type="button" id="btnDownloadCsv" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 m-2">Download CSV</button>
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    User Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Mobile no
                </th>
                <th scope="col" class="px-6 py-3">
                    Option 1
                </th>
                <th scope="col" class="px-6 py-3">
                    Option 2
                </th>
                <th scope="col" class="px-6 py-3">
                    Created At
                </th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    username
                </th>
                <td class="px-6 py-4">
                    mobileno
                </td>
                <td class="px-6 py-4">
                    optioon1
                </td>
                <td class="px-6 py-4">
                    option2
                </td>
                <td class="px-6 py-4">
                    creaetdat
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/json2csv"></script>

<script>
    let wbUsersList = [];
    let getUsersList = () => {
        fetch("http://3.109.54.53:5000/whatsapp/wbusers", {
            method: 'POST'
        })
            .then(response => response.json())
            .then((data) => {
                wbUsersList = [];
                let htx = '';
                let evenFlag = true;
                for(let user of data){
                    wbUsersList.push({
                        phone_number: user.phone_number,
                        profile_name: user.profile_name,
                        _1_answer: user._1_answer,
                        createdAt: user.createdAt,
                        _3_answer: user._3_answer,
                    })
                    htx += `
                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                ${user.profile_name}
                            </th>
                            <td class="px-6 py-4">
                                ${user.phone_number}
                            </td>
                            <td class="px-6 py-4">
                                ${user._1_answer}
                            </td>
                            <td class="px-6 py-4">
                                ${user._3_answer}
                            </td>
                            <td class="px-6 py-4">
                                ${user.createdAt}
                            </td>
                        </tr>
                    `;
                }
                document.getElementById("tbody").innerHTML = htx;
            });
    }
    getUsersList();
    const btnDownloadCsv = document.getElementById("btnDownloadCsv");

    btnDownloadCsv.addEventListener("click", () => {
        downloadCsv("wb-users.csv", json2csv.parse(wbUsersList));
    });

    function downloadCsv(filename, csvData) {
        const element = document.createElement("a");

        element.setAttribute("href", `data:text/csv;charset=utf-8,${csvData}`);
        element.setAttribute("download", filename);
        element.style.display = "none";

        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }
</script>
</html>